.App {
  text-align: center;
  width:100%;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #004FF9;
  background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
  background: linear-gradient(to right, #FFF94C, #004FF9); 
  list-style:none;
}
h3{
  color:white;
}
li{
  display: inline;
  list-style: none;
  margin: 0 20px;
}
Breadcrumbs{
  list-style: none;
}